*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
.timeline{
  padding: 0px 100px;
  position: relative ;
  width: 100%;
}
.timeline ul li{
  position: relative;
  width:50%;
}
.timeline::before{
  content: '';
  position: absolute;
  height: 80%;
  width: 4px;
  background-color:#D8D8D8;
  left:50%;
  top:10%;
}
.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even){
  float: right;
  text-align:left;
  clear: both;
} 
.timeline ul li:nth-child(odd) .content{
  margin-right:100px;
}
.timeline ul li:nth-child(even) .content{
  margin-left:100px;
}
.timeline ul::after{
  content: '';
  display: table;
  clear:both;
}
.timeline ul li:nth-child(odd)::before{
  content: '';
  position: absolute;
  height: 150px;
  width:150px;
  background-color: black;
  border-radius: 50%;
  right:-79px;
  top:50%;
  transform:translate(0%, -50%);
  border: 4px solid#D8D8D8;
} 
.timeline ul li:nth-child(even)::before{
  content: '';
  position: absolute;
  height: 150px;
  width:150px;
  background-color: black;
  border-radius: 50%;
  left:-79px;
  top:50%;
  transform:translate(0%, -50%);
  border: 4px solid #D8D8D8;
}
.content{
  padding: 50px 0px;
}
.timeline ul li:nth-child(1)::before{
  background-image: url(../../assets/about01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.timeline ul li:nth-child(2)::before{
  background-image: url(../../assets/about02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.timeline ul li:nth-child(3)::before{
  background-image: url(../../assets/about01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content h2{
  font-size: 25px;
  margin-bottom:10px;
}
.context p{
  font-size:14px
}