<div class="container">
    <div class="text-center">
        <h1>PORTFOLIO</h1>
        <p style="text-align: center;">Engineering is the use of scientific principles</p>
    </div>
    <br>
    <div class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h2>2009-2011</h2>
                    <h3>Journey start</h3>
                    <p>Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings.</p>
                </div>

            </li>
            <li>
                <div class="content">
                    <h2>MARCH 2011</h2>
                    <h3>Reached one of the  biggest</h3>
                    <p>Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings.</p>
                </div>

            </li>
            <li>
                <div class="content">
                    <h2>MARCH 2011</h2>
                    <h3>Reached one of the  biggest</h3>
                    <p>Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings.</p>
                </div>

            </li>
        </ul>
    </div>
</div>
