<section  id="contact" class='image'>
    <div class="container" id='image'>
        <div class="text-center" >
            <h2 style="font-weight:bold;font-size:40px;">CONTACT US</h2>
            <p>Engineering is the use of scientific principles</p>
            <form action="#" method="post" class="contact-form" style="padding-bottom: 100px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control"  type="text" placeholder="Your Name *" required="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control"  type="text" placeholder="Your Email Id*" required="required" />
                        </div>
                        <div class="form-group">
                            <input class="form-control"  type="text" placeholder="Your Phone Number *" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control2"  type="text" placeholder="Your Message *" required="required" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg btn-danger" id="sendMessageButton" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</section>
